body{
     margin: 20px;
}
.h_title{
      font-size: 30px;
      text-align: center;
       color: #333;
      font-weight: bold;
}
.c_item p {
    color: #666;
    font-size: 20px;
    margin: 10px 0;
}

ul,li{
     color: #666;
    font-size: 20px;
    margin: 10px 0;
}
.subtitle{
 color: #666;
    font-size: 20px;
    margin: 10px 0;
}