.c_item p {
    color: #666;
    font-size: 20px;
    margin: 10px 0;
}
.h_title{
     color: #333;
    text-align: center;
    
}
ul,li{
     color: #666;
    font-size: 20px;
    margin: 10px 0;
}
.subtitle{
 color: #666;
    font-size: 20px;
    margin: 10px 0;
}